{% extends 'playing_area/base.html' %}
{% block title %}Shopping Cart{% endblock %}
{% load staticfiles %}
{% block body %}


    <div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-12">
								<h4><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h4>
							</div>

						</div>
					</div>
				</div>
				<div class="panel-body">
                    {% for item in cart.games %}
					<div class="row" id="div-{{ item.id }}">
						<div class="col-xs-2"><img class="img-responsive hidden-xs" alt="No image available." style="height: 70px; width: 130px;" src="{{ item.image_url }}">
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong>{{ item.name }}</strong></h4><h4><small>Genre: {{ item.genre }}</small></h4>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong>${{ item.price }}</strong></h6>
							</div>
							<div class="col-xs-6 text-right">
								<button type="button" class="btn btn-danger " onclick="removeItem({{ item.id }})">
                                    <span class="glyphicon glyphicon-trash" ></span>
                                </button>
							</div>
						</div>
					</div>
					<hr>
                    {% endfor %}

                    <div class="row">
                        <div class="text-center">
							<div class="col-xs-9">
								<h4 class="text-right">Quantity: <strong>{{ cart.quantity }}</strong></h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-center">Total: <strong>${{ cart.total }}</strong></h4>
							</div>
						</div>
                    </div>

				</div>
				<div class="panel-footer">
					<div class="row">
                        <div class="col-md-3 col-xs-12">
								<form action="{% url 'playing_area:index' %}" method="POST">
                                 {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-block"><span class="fa fa-angle-left"></span>
                            Continue Shopping
                            </button>
                            </form>
							</div>{% if cart.quantity > 0 %}
						    <div class="col-md-2 col-md-offset-7 col-xs-12">
                                <form action="{% url 'order' %}" method="POST">
                                     {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-block">
                                Checkout <span class="fa fa-angle-right"></span>
                                </button>
                                </form>
						    </div>
                        {% else %}
                            <div class="col-md-2 col-md-offset-7 col-xs-12 text-center">
                            <h4 class="text-danger">Your cart is empty!</h4>
                         </div>
                    {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




     <script type="text/javascript">

             function removeItem(gameid) {
            $.ajax({
                method:'POST',
                url: "{% url 'shopping_cart' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token  }}",
                    game:gameid,
                    action:'remove'
                },
                success:function(data) {
                    if (data.error) {
                        alert("Error: " + data.error);
                    }
                    else{
                        $('#div-'+gameid).fadeOut(280,function(){this.remove()});
                        location.reload();
                    }
                },
                error: function (data) {
                    if (data.error) {
                        alert("There was a problem during the request. Please try again.");
                    }
                }
            })
        }

     </script>

{% endblock %}