{% load staticfiles %}

<div>
    <div>
        <div id="Genres" class="container text-center">
            <h4 style="display: inline;">Select genre: </h4>
            {% for genre in genres %}
                <a id="{{ genre }}" href="/gameslist/{{ genre }}"
                   style="margin-left: 10px">{{ genre }}</a>
            {% endfor %}
            <form id="game-form" action="" method="post" role="form" style="display: inline">
                {% csrf_token %}
                <div class="form-group" style="display:inline;">
                    {{ search_game.keyword }}
                    <input type="submit" name="game-search" id="search-btn"
                           class="form-control btn btn-register"
                           value="Search"
                           style="display: inline; width: inherit; background-color: blanchedalmond">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="page-inner-content">

        <div class="container" style="margin-top: 1.5em">
            <div class="row">
                {% for g in games_list %}
                    {% if counter == 3 %}
                        <div class="container">
                        <div class="row">
                    {% endif %}
                {% if counter < 3 %}
                    <p style="display:none">{{ counter|add:"1" }}</p>
                {% endif %}

                <div class="col-sm-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><p id="{{ g.name }}" style="display: inline;">{{ g.name }}</p>
                        </div>
                        <div class="panel-body">
                            <a href="/playgame/{{ g.name }}">
                                {% if g.image_url != '' %}
                                    <img src="{{ g.image_url }}" class="img-game img-responsive" style="width:100%"
                                         alt="Image Not Found">
                                {% endif %}
                                {% if g.image_url == '' %}
                                    <img src="{% static 'playing_area/images/no_image.png' %}"
                                         class = "img-game img-responsive"
                                         style="width:100%"
                                         alt="Not Any Images Found">
                                {% endif %}
                            </a>
                        </div>
                        <div class="panel-footer">
                            <p style="display: inline;">Price: {{ g.price }} $</p>
                            {% if user.is_authenticated %}
                            <button class="btn btn-success" style="float: right; display: inline;" type="button"
                                    onclick="add_game_cart({{ g.id }})">Add to cart
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if counter == 3 %}
                    <p style="display:none">{{ counter|add:"-2" }}</p>
                    </div>
                    </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        <br>

        <footer class="container-fluid text-center">
            <p>Online JS Game Store</p>
        </footer>

    </div>
</div>
<div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Congrats!</h3>
                </div>
                <div class="modal-body">
                    <form class="form-signin">
                    <h4 class="form-signin-heading" id="modalResponse"></h4>
                    </form>
                </div>
            </div>
        </div>
     </div>
<script type="text/javascript">

        function add_game_cart(gameid, element) {
            $.ajax({
                method:'POST',
                url: "{% url 'shopping_cart' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token  }}",
                    game:gameid,
                    action:'add'
                },
                success:function(data) {
                    var $addModal = $("#addModal");
                    if (data.error){
                        $('#modalResponse').text("There is an error!");
                        $addModal.removeClass('done info');
                        $addModal.addClass('error');
                        $addModal.modal();
                    }
                    else{

                        $('#modalResponse').text("Game successfully added to your cart!");
                        $addModal.removeClass('info error');
                        $addModal.addClass('done');
                        $addModal.modal();
                    }
                },
                error: function (data) {
                    var $addModal = $("#addModal");
                    if (data.responseJSON && data.responseJSON.error) {
                        $('#modalResponse').text(data.responseJSON.error);
                        $addModal.removeClass('done error');
                        $addModal.addClass('info');
                        $addModal.modal();
                    }else if (data.status == 403){
                        $('#modalResponse').text("You are not allowed to buy this game");
                        $addModal.removeClass('done info');
                        $addModal.addClass('error');
                        $addModal.modal();
                    } else if (data.status == 400) {
                        $('#modalResponse').text("Game already in the basket.");
                        $addModal.removeClass('done error');
                        $addModal.addClass('info');
                        $addModal.modal();
                    } else {
                        $('#modalResponse').text("An unexpected error has occurred. Please try again later!");
                        $addModal.removeClass('done error');
                        $addModal.addClass('info');
                        $addModal.modal();

                    }
                }
            });
        }

</script>