{% extends user.is_authenticated|yesno:"playing_area/base_logged_in.html,playing_area/base.html" %}
{% load staticfiles %}

{% block body %}

    <div class="page-content">
        <div class="page-inner-content">


            {% for g in games_list %}
                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="panel panel-danger">
                                <div class="panel-heading">Blood Diamond!</div>
                                <div class="panel-body">
                                    <a href="/playgame/{{ g.name }}">
                                        <img src="{{ g.image_url }}"
                                             class="img-responsive"
                                             style="width:100%" alt="Image"></a>
                                </div>
                                <div class="panel-footer">Play the bloodiest game ever!</div>
                            </div>
                        </div>

                    </div>
                </div>
                <br>

                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="panel panel-danger">
                                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE"
                                                             class="img-responsive"
                                                             style="width:100%" alt="Image"></div>
                                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE"
                                                             class="img-responsive"
                                                             style="width:100%" alt="Image"></div>
                                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                            </div>
                        </div>

                    </div>
                </div>
                <br><br>
            {% endfor %}

            <footer class="container-fluid text-center">
                <p>Online JS Game Store</p>
                {#  <form class="form-inline">Get deals:#}
                {#    <input type="email" class="form-control" size="50" placeholder="Email Address">#}
                {#    <button type="button" class="btn btn-danger">Sign Up</button>#}
                {#  </form>#}
            </footer>

        </div>
    </div>

{% endblock body %}
