{% extends 'playing_area/base.html' %}
{% block title %}Play Game{% endblock %}
{% load staticfiles %}

{% block body %}
    <html>
    <body>

    <div class="col-md-9" style="display: inline">
        <iframe id="my_iframe" onload="iframeLoaded()" src="{{ source }}" style="display: inline">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>

    {% if rank_table == "True" %}
        <div class="col-md-3" style="display: inline; text-align: center">
            <h2>Players ranking</h2>
            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Score</th>
                </tr>
                </thead>
                <tbody>
                {% for player in game_state %}
                    <tr>
                        <td>{{ player.player_id.first_name }}</td>
                        <td>{{ player.max_score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


    <script type="text/javascript">
        var iframe_height = 700;
        var iframe_width = 700;

        $(document).ready(function () {
            {#            'use strict';#}
            window.addEventListener("message", receiveMessage, false);

            function receiveMessage(evt) {
                {#            $(window).on('message', function (evt) {#}
                var origin = evt;
                {#                console.log(evt);#}
                var origincheck1 = '{{ source }}';
                var origincheck2 = '{{ source }}' + '/';
                var data = origin.data;
                console.log(data.messageType);
                {#                if (origin != origincheck1 && origin != origincheck2)#}
                {#                    return;#}

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                if (data.messageType == "LOAD_REQUEST") {
                    console.log(data);
                    sendAjax(data);
                }
                if (data.messageType == "SETTING") {
                    console.log(data);
                    iframe_height = data.options['height'];
                    iframe_width = data.options['width'];
                }
                if (data.messageType == "SCORE") {
{#                    console.log(data);#}
                    var score = parseFloat(data.score);
                    if (isNaN(score)) {
                        var message = {}
                        message.text = "Invalid Score";
                        sendMessageToGame(message);
                        return;
                    }
                    sendAjax(data);
                }
                if (data.messageType == "SAVE") {
                    {#                    var gameState = data.gameState;#}
                    if (data.gameState == null || data.gameState == "") {
                        var message = {}
                        message.text = "Invalid data for saving game";
                        sendMessageToGame(message);
                        {#                        return;#}
                    }
                    else
                        data.gameState = JSON.stringify(data.gameState);

                    sendAjax(data);
                }
            };
        });

        function sendAjax(data) {
            var message = {};
            {#            console.log(data)#}
            if (data.messageType == "SCORE")
                $.ajax({
                    method: 'POST',
                    url: '#',
                    data: data,
                    success: function (response) {
                        {#                        console.log(response.result.result  );#}
                        if (response.error) {
                            message.messageType = "ERROR";
                            message.text = 'Could not save score in database.';
                            sendMessageToGame(message);
                        }
                    },
                    error: function (response) {
                        {#                        console.log(response);#}
                        if (response.error) {
                            message.messageType = "ERROR";
                            message.text = 'Error occurred in server!';
                            sendMessageToGame(message);
                        }
                    }
                });
            else if (data.messageType == "LOAD_REQUEST")
                $.ajax({
                    method: 'POST',
                    url: '#',
                    data: data,
                    success: function (response) {
                        {#                        console.log(response);#}
                        {#                        if (response.gameState != "" && response.gameState != null && response.gameState != "None")#}
                        var game_state = jQuery.parseJSON(response.gameState)
                        if (response.error) {
                            message.messageType = "ERROR";
                            message.text = 'Could not retrieve game state from database.';
                            sendMessageToGame(message);
                        }
                        else {
                            if (response) {
                                message.messageType = "LOAD";
                                message.gameState = game_state;
                                sendMessageToGame(message);
                            } else {
                                message.messageType = "ERROR";
                                message.text = 'Game state is null in database!';
                                sendMessageToGame(message)
                            }
                        }
                    },
                    error: function (data) {
                        if (data.error) {
                            message.messageType = "ERROR";
                            message.text = 'Could not connect to server!';
                            sendMessageToGame(message);
                        }
                    }
                });
            else if (data.messageType == "SAVE") {
                if (data['score'] == null )
                    data['score'] = 0;
                console.log(data);
                $.ajax({
                    method: 'POST',
                    url: '#',
                    data: data,
                    success: function (response) {
                        {#                    console.log( response);#}
                        if (response.error) {
                            message.messageType = "ERROR";
                            message.text = 'Could not save game state in database.';
                            sendMessageToGame(message);
                        }
                    },
                    error: function (data) {
                        {#                    console.log(data);#}
                        if (data.error) {
                            message.messageType = "ERROR";
                            message.text = 'Error occurred in server!';
                            sendMessageToGame(message);
                        }
                    }
                });

            }

        }

        function sendMessageToGame(message) {
            var my_iframe = document.getElementById('my_iframe');
            if (my_iframe) {
                my_iframe.contentWindow.postMessage(message, "*");
            }
            else {
                alert("Iframe not found!");
            }
        }

        function iframeLoaded() {
            var my_iframe = document.getElementById('my_iframe');
            if (my_iframe) {
                my_iframe.height = iframe_height + 20;
                my_iframe.width = iframe_width + 20;
            }
            else {
                alert("Iframe not found!");
            }
        }
    </script>

    </body>
    </html>
{% endblock %}

